<h1>Your Balance</h1>

<p>Balance in BYN: <%= @balance.byn %> BYN</p>
<p>Balance in USD: <%= @balance.usd %> USD</p>
<p>Balance in EUR: <%= @balance.eur %> EUR</p>
<p>Balance in RUB: <%= @balance.rub %> RUB</p>
